body  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans;
    font-size: 1em;
    background-color: #000;
    color: #00ae00;
    margin: 0px;
}

.noscript_block {
    text-align: center;
    width: 100%;
}

#savePanel {
    display: none;
}